body {
    margin:0;
    font-size: 1.5em;
    }
 .o-container {
    width:100vw;
    height:100vh;
    display:grid;
    margin:0;
    gap:1vh;
    grid-template-rows:auto 1fr auto;
    background-color: darkslategray;
}
.header {

    background-color: blueviolet;
    font-size:2rem;
    color:white;
    padding: 2vmin;
    }
.footer {
    background-color: black;
    font-size:2rem;
    color:white;
    padding:2vmin;
    
}
.content {
    background-color: #a0bed6;
 /*   position:relative;*/
    overflow: auto;
}
.top-div {
    z-index: 9;
}
.bill-container {
    display:grid;
   position: absolute;
    grid-template-rows: auto 1fr;
    background-color: burlywood;
    min-width: 50%;
    max-width: 70%;
    min-height: 80%;
    left :0%;
    float:left;
    
    
}
.bill-header{
    background-color: rgb(129, 178, 243);
    margin : 0 0;
    top:0;
    padding:2vmin;
    font-size:1rem;
}
.grid-container {
   max-width:850px;
   max-height: 550px;
 display:grid;
 grid-template-rows: auto 1fr;
 padding-left: 1vmin;
 
}
.grid-header {
    display:grid;
    grid-template-columns: 39% 15% 15% 20% 10%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1ch;
    padding-bottom:0ch;
    gap:1px;
}
.grid-details {
    display:grid;
    grid-auto-rows: 4vh;
    gap:2px;
    font-size: 1rem;
 /*  max-height: 70%;*/
    overflow-y: auto;
}
.rowCard{
    display:grid;
    font-size: 1rem;
    background-color: rgb(204, 216, 240);
    grid-template-columns: 39% 15% 15% 20% 9%;
    gap:1px;
    padding: 1px 0 1px 0;
    font-size: 1rem;
 
}
.grid-header>div {
    background-color: rgb(93, 151, 228);
    padding: 0.5ch;
    max-height: 3ch;
    top:0;
}
.rowCard>div {
    background-color:rgb(124, 172, 236);
    max-height: 3ch;
    padding: 0.5ch;
    

}
.bill-header > input {
    font-size: 1rem;
    padding: 1vh 0.6vw;
    margin: 1vh 1vw 1vh 1vw;
}
.qty, .rate, .amount {
    text-align:right;
    padding-right:2ch;
}
.del {
    text-align: center;
    padding-left: 1ch;
    padding-right: 1ch;
     
}
.item {
    text-align: left;
    padding-left: 1ch;
}
.delBtn {
    font-size:100%;
    color:red;

}
.billList {
    background-color: rgb(219, 241, 234);
  /*  visibility: hidden;*/
    position: absolute;
    min-width:50%;
     max-width: 70%;
    min-height: 80%;
    left: 30%;
}

.cash-color {
    background-color: rgb(224, 240, 240);
    text-align: center;
}
.credit-color {
    background-color: rgb(241, 234, 229);
    text-align: center;
}
.saveBtn {
    background-color: aqua;text-align: center;font-size: 1.4rem;
}
.clearBtn {
    background-color: rgb(243, 234, 180);text-align: center;font-size: 1.4rem;
}
.delBillBtn {
    background-color: rgb(238, 193, 172);text-align: center;font-size: 1.4rem;
}
.billListBtn {
    background-color: rgb(164, 209, 240);text-align: center;font-size: 1.4rem;

}

